#choose-location {
    margin-top: -50px;
    padding-top: 50px;
    background: url("../images/greenr_slika-pozadina.png");
    background-repeat: no-repeat;
    background-position-x: 150px;
}

.slogan {
    margin-top: 13px;
}

.share{
    padding-top:15px;

    .twitter{
        margin-left:4px;
    }
}

.statistic{
    background-color: rgba(255,255,255,0.7);
}

.motivation{
    background-color: rgba(255,255,255,0.7);
}
