#choose-location {
    margin-top: -50px;
    padding-top: 50px;
    background: url("../images/greenr_slika-pozadina.png");
    background-repeat: no-repeat;
    background-position-x: 55px;
}

.slogan {
    margin-left:15px;
    margin-top: 13px;
}

.share{
    padding-top:15px;

    .twitter{
        margin-left:4px;
    }
}
