@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$grey-dark: #695d46;
$grey-light: rgb(204, 193, 142);
$link-color: green;

$text-color: $grey-dark;

$font-family-sans-serif: 'Noto Sans', sans-serif;
$font-family-serif: 'Noticia Text', serif;

// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

@import "trip.scss";

@import "home.scss";
@import "searcher.scss";
@import "statistics.scss";
@import "loader.scss";
@import "results.scss";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background-image: url("../images/greenr_background-400x400.jpg");
    background-color: #fff6c5;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2{
    font-family:$font-family-serif;
    color:$text-color;
    font-weight:bold;
}

p{
    font-family: $font-family-serif;
}
/* Custom page header */
.header {
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    color: $text-color;
    font-family: $font-family-serif;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

    p + h4 {
        margin-top: 28px;
    }
}

.social-icons-screen ul {
  li {
    list-style-type: none;
    display: block;
  }
}

.home-content{
    margin-top: 50px;
}

.footer {
  padding-top: 20px;
}

.about {
  ul {
    list-style-type: none;
  }
}

@media (max-width: $screen-sm-max) {
  body {
    padding-top: 0;
  }
  
  .header {
    margin-top: 0;
  }
  .home-content {
    margin-left: 0;
  }
  
  .slogan {
    margin-left: 0;
  }
  
  .motivation {
    margin-left: 0;
    padding-top: 20px;
  }
  
  .statistic {
    padding-top: 20px;
  }
}
