$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
@import "home.scss";
@import "searcher.scss";
// endbower

@import "trip.scss";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    background-image: url("../images/greenr_background-400x400.jpg");
    background-color: #fff6c5;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* Custom page header */
.header {
    margin-top: 50px;
    font-size: 14px;
    font-weight: bold;
    line-height: 15px;
    color:#695d46;
    font-family: 'Noticia Text', serif;
    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}


.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;

    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;

    p + h4 {
        margin-top: 28px;
    }
}
