.vehicle{
    display: inline-block;
    padding: 5px 8px;

    input{
        display:none;
    }

    label{
        display:block;
        width:50px;
        height: 50px;
        text-indent:-9999px;
        cursor:pointer;
        background-position:0px; 
    }

    &.car {
        label {
            background-repeat:no-repeat;
            background-image: url('../images/vozila_ikone/auto_1.png');            

            &:hover{
                background-image: url('../images/vozila_ikone/auto_2.png');
            }
        }
        input:checked + label {
            background-image: url('../images/vozila_ikone/auto_3.png');
        }
    }

    &.bus {
        label {
            background-repeat:no-repeat;
            background-image: url('../images/vozila_ikone/autobus_1.png');


            &:hover{
                background-image: url('../images/vozila_ikone/autobus_2.png');
            }
        }
        input:checked + label {
            background-image: url('../images/vozila_ikone/autobus_3.png');
        }
    }

    &.train-tram-subway {
        label {
            background-repeat:no-repeat;
            background-image: url('../images/vozila_ikone/vlak_1.png');

            &:hover{
                background-image: url('../images/vozila_ikone/vlak_2.png');
            }
        }
        input:checked + label {
            background-image: url('../images/vozila_ikone/vlak_3.png');
        }
    }

    &.motorcycle {
        label {
            background-repeat:no-repeat;
            background-image: url('../images/vozila_ikone/moto_1.png');
            background-position-y:11px;

            &:hover{
                background-image: url('../images/vozila_ikone/moto_2.png');
            }
        }
        input:checked + label {
            background-image: url('../images/vozila_ikone/moto_3.png');
        }
    }

    &.airplane {
        label {
            background-repeat:no-repeat;
            background-image: url('../images/vozila_ikone/avion_1.png');

            &:hover{
                background-image: url('../images/vozila_ikone/avion_2.png');
            }
        }
        input:checked + label {
            background-image: url('../images/vozila_ikone/avion_3.png');
        }
    }

    &.ferry {
        label {
            background-repeat:no-repeat;
            background-image: url('../images/vozila_ikone/brod_1.png');
            background-position-y:11px;

            &:hover{
                background-image: url('../images/vozila_ikone/brod_2.png');
            }
        }
        input:checked + label {
            background-image: url('../images/vozila_ikone/brod_3.png');
        }
    }
}

.search-btn{
    background:url("../images/greenr_okgo-gumb-pasivan.png") no-repeat;
    cursor:pointer;
    border: none;
    width:200px;
    height:50px;

    &:hover{
        background-image: url("../images/greenr_okgo-gumb-aktivan.png");
    }
}

searcher {
    form{
        padding:20px;
    }
    p{
        font-size:20px;
    }
}

.location{
    margin-bottom:25px;
    display:inline-block;

    input{
        background-color:$gray-dark;
        color:$grey-light;
        border:none;
        padding:5px;
    }
}
