.trip {
  position: relative;
  .trip-path {
    margin: 0 auto;
    width: 300px;
    position: relative;
    
    .vehicle {
      position: absolute;
      display: block;
      width: 50px;
      height: 50px;
      background: blue;
    }
    
    canvas {
      display: block;
    }
  }
  
  .distance {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  
  random-fact {
    position: absolute;
    width: 200px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.7);
    
    opacity: 1;
    transition: opacity 1s;
    
    &.not-active {
      visibility: hidden;
      opacity: 0;
      transition: opacity 1s;
    }
    
    &.left {
      left: 0;
    }
    
    &.right {
      right: 0;
    }
  }
}
