.trip {
    position: relative;

    .trip-path {
        margin: 0 auto;
        width: 300px;
        position: relative;

        .vehicle {
            position: absolute;
            display: block;
            width: 100px;
            height: 50px;

            &.car {
                background-repeat: no-repeat;
                background-image: url('../images/vehicle_trip/auto-prema-dolje.png');
            }

            &.bus {
                background-repeat: no-repeat;
                background-image: url('../images/vehicle_trip/autobus-prema-dolje.png');
            }

            &.train-tram-subway {
                background-repeat: no-repeat;
                background-image: url('../images/vehicle_trip/vlak-prema-dolje.png');
            }

            &.motorcycle {
                background-repeat: no-repeat;
                background-image: url('../images/vehicle_trip/moto-prema-dolje.png');
            }

            &.airplane {
                background-repeat: no-repeat;
                background-image: url('../images/vehicle_trip/avion-prema-d.png');
            }

            &.ferry {
                background-repeat: no-repeat;
                background-image: url('../images/vehicle_trip/brod-prema-d.png');
            }
        }

        canvas {
            display: block;
        }
    }

    .distance {
        position: fixed;
        z-index: 10;
        bottom: 0;
        right: 0;
        h2{
            font-size: 40px;
        }

        .unit {
            font-size:10px;
            margin-right:15px;
        }
    }

    random-fact {
        position: absolute;
        width: 200px;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.7);
        opacity: 1;
        transition: opacity 1s;

        &.not-active {
            visibility: hidden;
            opacity: 0;
            transition: opacity 1s;
        }

        &.left {
            left: 0;
        }

        &.right {
            right: 0;
        }
    }
}

.distance {
    .unit {
        font-size: 10px;
    }
}
