<div class="trip">
  <div class="trip-path">
    <div class="trip-path-wrapper">
      <div class="vehicle" ng-class="vehicleType"></div>
    </div>
  </div>
  <div class="distance">
    <p>{{currentDistance}} <span class="unit">km</span></p>
  </div>
  
  <random-fact term="global warming"></random-fact>
  <random-fact term="carbon dioxide"></random-fact>
  <random-fact term="ocean acidification"></random-fact>
  <random-fact term="glacial retreat"></random-fact>
  <random-fact term="climate change"></random-fact>

</div>