<div id="choose-location" class="row">
  <aside class="statistic col-md-3">
    <statistics origin="origin" destination="origin"></statistics>
  </aside>

  <div class="motivation col-md-6">
    <searcher process-result="processResult(origin, destination, vehicle)"></searcher>
  </div>
</div>

<div id="search-result" ng-if="showResult">
  <aside>
    <statistics origin="origin" destination="destination" process-co2s="processCo2s(co2s)"></statistics>
  </aside>
  
  <div ng-if="minimumEmission.vehicle.type == chosenEmission.vehicle.type" class="jumbotron">
    <p>Good job!</p>
    <p>{{minimumEmission.vehicle.name}} is the best option for environment.</p>
    
    <button ng-click="runTrip()" class="btn btn-primary">Show me the trip</button>
  </div>
  <div ng-if="minimumEmission.vehicle.type != chosenEmission.vehicle.type" class="jumbotron">
    <p>You chose {{chosenEmission.vehicle.type}} but {{minimumEmission.vehicle.name}} is the best option for environment</p>
    
    <button ng-click="runTrip()" class="btn btn-primary">Motivate me with the trip</button>
  </div>
</div>

<div id="trip" ng-if="startTrip">
  <trip distance="{{distance}}" vehicle-type="{{chosenEmission.vehicle.type}}" line-color="#428bca"></trip>
</div>

<div id="trip-summary" ng-if="startTrip">
  <div class="jumbotron">
    <div ng-if="minimumEmission.vehicle.type != chosenEmission.vehicle.type">
      <p>Did you change your mind?</p>
      <button ng-click="yes()" class="btn btn-primary">Yes</button>
      <button ng-click="not()" class="btn btn-default">No</button>
    </div>

    <p>Share on:</p>

    <share min-emission="minimumEmission" chosen-emission="chosenEmission" class="social-icons-screen"></share>
  </div>
</div>
