<div id="choose-location" class="row">
    <div class="home-content">
        <aside class="statistic col-md-3">
            <statistics once="true" origin="origin" destination="origin"></statistics>
        </aside>

        <div class="motivation col-md-6">
            <searcher process-result="processResult(origin, destination, vehicle)"></searcher>
        </div>
    </div>
</div>

<div id="search-result" ng-if="showResult" class="row">
    <aside class="statistic col-md-3">
        <statistics origin="origin" destination="destination" process-co2s="processCo2s(co2s)"></statistics>
    </aside>

    <div class="motivation col-md-5" ng-if="minimumEmission.vehicle.type == chosenEmission.vehicle.type">
        <h2>Good job!</h2>
        <p>{{minimumEmission.vehicle.name}} is the best option for environment.</p>
        <p>Keep up the good work, and take an informative tour to your destination!</p>
        <button ng-click="runTrip()" class="result-button-pos"></button>
    </div>
    <div class="motivation col-md-5" ng-if="minimumEmission.vehicle.type != chosenEmission.vehicle.type">
        <h2>Ooops! You chose {{chosenEmission.vehicle.type}} but {{minimumEmission.vehicle.name}} is better!</h2>
        <p>Having trouble making the right choice?<br></p>
        <p>Maybe we can help change your mind...</p>
        <button ng-click="runTrip()" class="result-button-neg"></button>
    </div>
</div>

<a id="start-trip"></a>
<div id="trip" ng-if="startTrip">
  <trip distance="{{distance}}" vehicle-type="{{chosenEmission.vehicle.type}}" line-color="#428bca"></trip>
</div>

<div id="trip-summary" ng-if="startTrip" class="row">
  <div class="share-screen col-md-6 col-md-offset-3">
    <div ng-if="minimumEmission.vehicle.type != chosenEmission.vehicle.type">
      <h2>Did you change your mind?</h2>
      <button ng-click="yes()" class="btn btn-primary">Yes</button>
      <button ng-click="not()" class="btn btn-default">No</button>
    </div>
    
    <p>Share on:</p>
    <share min-emission="minimumEmission" chosen-emission="chosenEmission" class="social-icons-screen"></share>
  </div>
</div>
